#main{
    border: 1px solid blue;
    height: 1000px;
    width: 100%;
}
#navBar{
    border: 1px solid black;
    height: 100px;
    width: 100%;
}
a{
    font-size: 30px;
    
}
#login{
    margin-left: 1000px;
}
#signUp{
    margin-left: 50px;
}
#menu{
    margin-left: 50px;
}
#cart{
    border: 5px solid black;
    height: 700px;
    width: 900px;
    margin: auto;

}
