#cart{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 2%;
}
#cart img{
    height: 250px;
    width: 250px;
}
#navbar{
    display: flex;
    gap: 2%;
}